body {
	margin: 0;
	padding: 0;
	font-size: 11pt;
	font-family: 'Times New Roman';
	background: #fcfcfc;
	background: url(../images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-user-select: none;	
	overflow:  hidden;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;	
}

h4 {
	text-align: center;
	font-weight: normal;
	font-size: 14pt;
}

#head {
	background: rgba(0, 0, 0, 0.1);
	text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
	color: #fcfcfc;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-user-select: none;	
	cursor: default;
}

#article {
	margin: auto;
	padding: 0;
	max-width: 990px;
	color: #1e1e1e;
	border-radius: 5px;
	height: 100%;
	margin-bottom: 15px;
	vertical-align: middle;
}

#article a {
	text-decoration: none;
}

#article h3 {
	padding: 5px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 18pt;
	font-weight: normal;
	font-style: italic;
	-webkit-user-select: none;	
	cursor: default;	
}

#article h1 {
	background: rgba(0, 0, 0, 0.4);
	padding: 5px;
	text-align: center;
	font-size: 30pt;
	font-weight: bold;
	font-style: none;
	border-radius: 5px;
	-webkit-user-select: none;	
	cursor: default;	
}

#article h2 {
	margin-top: 50px;
	padding: 5px;
	text-align: right;
	font-size: 18pt;
	font-weight: normal;
	font-style: italic;
	-webkit-user-select: none;	
	cursor: default;	
}

#article button {
	margin-top: 120px;
	-webkit-user-select: none;			
}

#bottom {
	background: rgba(0, 0, 0, 0.1);
	text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
	color: #fcfcfc;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#bottom h5 {
	text-align: center;
	font-weight: normal;
	font-size: 14pt;
	-webkit-user-select: none;	
	cursor: default;	
}

.button {
	display: block;
	padding: 15px 25px;
	width: 30%;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: rgba(0, 95, 189, 0.9);
	border: none;
	border-radius: 5px;
	box-shadow: 0 5px rgba(153, 153, 153, 0.8);
	transition: 0.1s;
}

.button:hover {
	background-color: rgba(2, 62, 124, 1);
	width: 32%;
	transition: 0.1s;
}

.button:active {
	background-color: rgba(2, 62, 124, 1);
	box-shadow: 0 1px rgba(102, 102, 102, 0.8);
	transform: translateY(2px);
}

.parent {
	position: fixed;
	width: 990px;
	height: 90%;
	text-align: center;
	border: 0px solid #dd0;
}

.child {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	width: 99%;
	color: #fcfcfc;
	text-shadow:
		3px 3px 0 #000,
	   -1px -1px 0 #000,  
		1px -1px 0 #000,
	   -1px  1px 0 #000,
		1px  1px 0 #000;
	border:0px solid #080;
	zoom: 1;
}

.helper {
	display:-moz-inline-box;
	display:inline-block;
	height:100%;
	width:0px;
	vertical-align:middle;
	zoom: 1;
}